{{extend 'main.html'}}

<div id="add_link" class="mainbox col-md-8">
  {{if 'message' in globals():

  }}

    <div class="alert alert-success" id="link_success">

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Success!</strong> {{=message}}

    </div>

{{pass}}
{{

    url = ""
    desc = ""
    tags = ""
    ch = "checked"
    ch1 = ""
    lid = ""
    update = "Save Link"
    action="addlink"
    if 'link' in globals():
        url = link.get_url()
        desc = link.get_desc()  
        tags = link.get_tags()+""
        update = "Update Link"
        lid = link.get_lid()
        action = "updatelink"
        if link.is_private():
            ch = "checked"
        else:
            ch1 = "checked"
            ch = ""
        pass
    pass

}}
<form id="addlink" class="form-horizontal" role="form" action="addlink" method="post">
    <input type="hidden" name="lid" value={{=lid}}>
    <div class="form-group">
        <label for="url" class="col-md-3 control-label">URL</label>
        <div class="col-md-7">
            <input type="url" class="form-control" required name="url" placeholder="www.link.com" value="{{=url}}">
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-md-3 control-label">Description</label>
        <div class="col-md-7">
            <textarea class="form-control" name="description" placeholder="Add description here.." >{{=desc}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="tags" class="col-md-3 control-label">Tags</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="tags" placeholder="tag1,tag2.." value="{{=tags}}">
           <span class="help-block"><small>Enter comma seperated values.</small></span>
        </div>
    </div>

    <div class="form-group">
        <label for="visibility" class="col-md-3 control-label">Visibility</label>
        <div class="col-md-7">
            <label class="radio-inline">
                <input type="radio" name="vis" id="private" value="private" {{=ch}}>Private
            </label>
             <label class="radio-inline">
                <input type="radio" name="vis" id="public" value="public" {{=ch1}}>Public
            </label>
        </div>
    </div>    

    <div>
    	<button href="#" class="btn btn-primary" id="password_modal_save"> 
            <span class="glyphicon glyphicon-floppy-disk"></span>
            {{=update}}</button>
	</div>
    </form>
</div>
