{{extend 'main.html'}}

<br>
<br>
<br>
<!--<div id="ch_password" class="mainbox col-md-8">

{{if 'message' in globals():}}

    <div id="password_success" class="alert alert-success" >

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Success!</strong> Password updated successfully.

    </div>

{{pass}}

{{if 'error' in globals():}}

    <div id="password_error" class="alert alert-danger alert-error" >

        <a href="#" class="close" data-dismiss="alert">&times;</a>

        <strong>Error! </strong> Old password you entered is incorrect.

    </div>

{{pass}}


  
<form id="chpassword" class="form-horizontal" role="form" action="chpassword" method="post">

    <div class="form-group">
        <label for="old_password" class="col-md-3 control-label">Old Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" required name="old_password" placeholder="Old Password">
        </div>
    </div>
    <div class="form-group">
        <label for="new" class="col-md-3 control-label">New Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" required name="new_passwd" placeholder="New Password">
        </div>
    </div>
     <div class="form-group">
        <label for="confirm" class="col-md-3 control-label">Confirm Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" required name="confirm" placeholder="Confirm Password">
        </div>
    </div>
    <div>
    	<button href="#" class="btn btn-primary" id="password_modal_save" style="margin-left:20%;margin-top:5%;" >Change Password</button> 
	</div>
    </form>
</div>-->
<div class="edit_profile">
{{=form}}
</div>
