{{extend 'main.html'}}
<br>
<br>
<br>
<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">-->


<div class="container1" >
    <div class="row well" style="width:80%; margin-left:2%;">
        
        <div class="col-md-11">
        
            <div class="col-md-10 wrap-link">
                <h4><b><a href="http://www.google.com" target="_blank">www.link.com</a></b></h4>
            </div>
            <div class="col-md-2 pull-right" style="margin-top:1%;">     
                    <button href="#" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" style="margin-left:40%;"></button>
                    <button href="#" class="btn btn-primary btn-xs pull-right glyphicon glyphicon-trash"></button>
            </div>   
        </div>

        <div class="col-md-11 text-center">
            <div class="col-md-12">
            <p><strong>Description: </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p><strong>Tags: </strong>
                <span class="tags">html5</span> 
                <span class="tags">css3</span>
                <span class="tags">jquery</span>
                <span class="tags">bootstrap3</span>
                <span class="tags">bootstrap3</span>
                <span class="tags">bootstrap3</span>
                <span class="tags">bootstrap3</span>
                <span class="tags">bootstrap3</span>
            </p>
        </div>
        </div> 
        <div class="date-display">
            16/11/2014
        </div>         
    </div>

     <div class="row well" style="width:80%; margin-left:2%;">
        
        <div class="col-md-11">
        
            <div class="col-md-10 wrap-link">
                <h4><b><a href="http://www.google.com" target="_blank">www.link.com</a></b></h4>
            </div>
            <div class="col-md-2 pull-right" style="margin-top:1%;">     
                    <button href="#" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" style="margin-left:40%;"></button>
                    <button href="#" class="btn btn-primary btn-xs pull-right glyphicon glyphicon-trash"></button>
            </div>   
        </div>

        <div class="col-md-11 text-center">
            <div class="col-md-12">
            <p><strong>Description: </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p><strong>Tags: </strong>
                <span class="tags">html5</span> 
                <span class="tags">css3</span>
                <span class="tags">jquery</span>
                
            </p>
        </div>
        </div>  
        <div class="date-display">
            16/11/2014
        </div>          
    </div>
     <div class="row well" style="width:80%; margin-left:2%;">
        
        <div class="col-md-11">
        
            <div class="col-md-10 wrap-link">
                <h4><b><a href="http://www.google.com" target="_blank">www.link.com</a></b></h4>
            </div>
            <div class="col-md-2 pull-right" style="margin-top:1%;">     
                    <button href="#" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" style="margin-left:40%;"></button>
                    <button href="#" class="btn btn-primary btn-xs pull-right glyphicon glyphicon-trash"></button>
            </div>   
        </div>

        <div class="col-md-11 text-center">
            <div class="col-md-12">
            <p><strong>Description: </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p><strong>Tags: </strong>
                <span class="tags">html5</span> 
                <span class="tags">css3</span>
                <span class="tags">jquery</span>
                <span class="tags">bootstrap3</span>
                <span class="tags">bootstrap3</span>
                
            </p>
        </div>
        </div>          
    
    <div class="date-display">
            16/11/2014
    </div> 
    </div> 
</div>