{{extend 'main.html'}}
<br>
<br>
<br>
<div class="panel panel-default rating-display">
	<div class="panel-heading">
            <div class="panel-title" style="display:inline;"><b>Top Trending Bookmarks</b></div>
            <div class="refresh-btn">
            <form action="trends">
            	<button class="btn btn-success btn-sm">
            		<span class="glyphicon glyphicon-refresh"></span>
            	</button>
            </form>
            </div>
    </div>
	<table class="table table-hover table-striped" data-show-refresh="true">
	  <thead>
	  <tr class="info">
	  <th>Rank</th>
	  <th>Bookmarks</th>
	  <th>Count</th>
	  <th>Rating (1-10)</th>
	  </tr>
	  </thead>
{{
    if 'topten' in globals():
    	i=1
    	for x in topten:
    		cnt=float(x.get('COUNT(link.url)'))
    		rate=(cnt/users)*10
    		rate=round(rate,2)
}}
	  <tr>
	  	<td>{{=i}}</td>
	  	<td><a href="{{=x.link.url}}" target="_blank">{{=x.link.url}}</a></td>
	  	<td>{{=x.get('COUNT(link.url)')}}</td>
	  	<td>{{=rate}}</td>
	  </tr>
{{
	i=i+1
	pass}}
{{pass}}
	</table>
</div>