{{ extend 'main.html'}}
<br>
<br>
<br>
<!--h3> Recent activities </h3-->
<div class="container1 " style="margin-left:10%;" >

{{
    import datetime
    if 'following' in globals():
       for x in following:
            saved=0 
       		if x.exist:
       			saved=1
       			pass

}}


    <div class="row well" style="width:80%; margin-left:2%;" id={{=x.link_details.get_lid()}}>
        
        <div class="col-md-11">
        	<div class="followee-display"> <b>
        			{{=x.get_firstname()}} {{=x.get_lastname()}}</b>
        	</div>

        	<div class="username-date-display">
        		@{{=x.get_username()}} <sup>.</sup> 
        		{{=datetime.datetime.fromtimestamp(x.link_details.get_date()).strftime('%d-%m-%Y')}}
        	</div>
        </div>

        <div class="col-md-11">
        	<div class="col-md-12 wrap-link">
            	<h4><a href='{{=x.link_details.url}}' target="_blank">{{=x.link_details.get_url()}}</a></h4>
            </div>
    	 </div>


        <div class="col-md-11 text-center">
            <div class="col-md-12">
            <p><strong>Description: </strong>{{=x.link_details.get_desc()}}</p>
            <p><strong>Tags: </strong>
	            {{ for t in x.link_details.get_tags():
	                if t!="":
	            }}
	                    <span class="tags">{{=t}}</span> 
                {{pass}}
                {{pass}}
            </p>
        </div>
        </div>     
	 	<div class="col-md-11">  
	 	
	 		<div class="col-md-10"> 
	 		{{ if saved==0: }}  
	        	<button class="btn btn-info btn-sm" style="margin-top:2%;" onclick="add_to_my_link({{=x.link_details.get_lid()}})"><strong>Add to My Links</strong></button>
	        
	        {{ pass }}
	        
	        </div>
	   
	    </div> 
    </div> 
{{pass}}
</div>
{{pass}}
