{{ extend 'main.html'}}
<br>
<br>
<br>
<!--h3> Recent activities </h3-->

<div class="container1 " style="margin-left:10%;" >


    <div class="row well" style="width:80%; margin-left:2%;">
        
        <div class="col-md-11">
        	<div class="followee-display"> <b>
        			Siji Sarah Jacob</b>
        	</div>

        	<div class="username-date-display">
        		@siji <sup>.</sup> 16-11-2014
        	</div>
        </div>

        <div class="col-md-11">
        	<div class="col-md-10 wrap-link">
            	<h4><a href='www.link.com' target="_blank">www.link.com</a></h4>
            </div>
    	 </div>


        <div class="col-md-11 text-center">
            <div class="col-md-12">
            <p><strong>Description: </strong>Description</p>
            <p><strong>Tags: </strong>
                    <span class="tags">Tag1</span> 
                    <span class="tags">Tag2</span> 
                    <span class="tags">Tag3</span> 
            </p>
        </div>
        </div>     
	 	<div class="col-md-11">   
	 		<div class="col-md-10">  
	        <button class="btn btn-info btn-sm" style="margin-top:2%;">Add to My Links</button>
	        </div>
	    </div> 
    </div> 
</div>

 