.navbar-default {
	background-color: #2278d2;
	border-color: #d6e6f2;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
 .navbar-default .navbar-brand:focus {
	 color: #ffffff ;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: #4EA5E7;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #0852b9;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
    background-color: #4EA5E7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #0852b9;
	background-color: #d6e6f2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #0852b9;
	background-color: #d6e6f2;
}
.navbar-default .navbar-toggle {
	border-color: #d6e6f2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d6e6f2;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #0852b9;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #0852b9;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #0852b9;
		background-color: #d6e6f2;
	}
}
.navbar-default .navbar-nav > li > a:focus{
    color: #0852b9 ;
    background: #DAE9F4;
}

div.flash:hover {
    opacity: 0.25;
}
/*
div.flash {
    font-weight: bold;
    display: none;
    position: fixed;
    padding: 10px;
    top: 200px;
    right: 250px;
    min-width: 280px;
    opacity: 0.95;
    margin: 0px 0px 10px 10px;
    vertical-align: middle;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    border: 2px solid #FFF;
    border-radius: 8px;
    background-image: -moz-linear-gradient(90deg, #222, #000);
    background-repeat: repeat-x;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    z-index: 2000;
}
*/

span.tags 
{
	
	color: #0852b9;
	background-color: #d6e6f2;
    border-radius: 2px;
    font-size: 1.1em;
    box-shadow: 1px 1px #666666;
    padding: 2px 4px;
    
}
.date-display{
	color: #A9A9A9;
	font-size: 0.9em;
}
.nav {
    margin-left:6%;
}
nav > .container-fluid {
    margin-left:6%; 
}
#add_link , #ch_password {
    margin-top: 8%;
}
#link_success , #password_success{
    width:57%;
    margin-left:26%;
}

#password_success{
    width:48%;
    margin-left:26%;
}

#password_error{
	width:48%;
    margin-left:26%;
}	
#password_modal_save{
margin-left:30%;
margin-top:2%; 
}

.wrap-link{
	font-size: 1.0em;
    display: inline-block;
    word-wrap: break-word;
}
.followee-display{
	/*color: #38610B;*/
	font-size: 1.2em;
	display: inline;
	margin-left: 15px;
}
.username-date-display{
	color: #A9A9A9;
	font-size: 0.95em;
	display: inline;
}

.search{

	margin-left: 12%;
}

.search_display{

	font-size: 1.2em;
}

.txt{
	font-size: 1.0em;
	color: #848484;
	margin-right: 1%;
}

select{

	margin-left: 2%;
	margin-right: 2%;
}
/* Not working */
.search_results{

	font-size: 15px;
}
#loginbox{
	margin-top: 5%;
}
.panel-body{
	padding-top: 30px;

}

#auth_user_username{
	
	margin-top: 1%;
}
#auth_user_password{
	
	margin-top: 5%;
}
.refresh-btn{
	float:right;
	/*margin-right: 4%;*/
	display:inline;
}
.rating-display{
	width: 75%;
	margin-left: auto;
    margin-right: auto;
}
.footer{
	border-top: none;
}
.row, #lay {
	width: 100%;
	margin-right: 0%;

}
.display-login{
	width:100%;
	margin-left: 32%;
}
.w2p-form-button{
	margin-left: 4%;
}
.advertise div{
	
	width: 20%;
	display: inline;
}
#main-head{
	text-align: center;
	margin-top: 2%;
    font-weight: bold;
    color: #5F5F5F;
}

.bk1,.bk3,.bk4,.bk5{
	
	margin-left: 6%;
	margin-bottom: 1%;
}
.bk2{
	
	margin-left: 28%;
	margin-top: 3%;
}
.bk5{
	margin-left: 9%;
}

/*Mrugani*/
#link_warning{

	width:20%;
	margin-top: 3%;
	margin-left: 16%;
}

.layout_alert{

	width:25%;
	margin-top: 8%;
	margin-left: 55%;	
}

#profile{

	box-shadow: 10px 10px 3px #BDBDBD;
	border-radius: 8px;
	float:left;
	width:22%;
	display:inline-block;
	vertical-align: top;

}

.count{
	color:#2E64FE;
}

#no_table_old_password, #no_table_new_password, #no_table_new_password2, #no_table_old_password__label, #no_table_new_password__label, #no_table_new_password2__label{

	margin-bottom: 4%;
	margin-left: 20%;
}

.chpassword{

	width:40%;
	margin-left: 6%;
	margin-top:3%;
}

.edit_profile input{

	margin-left: 20%;
	margin-bottom: 3%;
}

.edit_profile label{

	margin-left: 54%;
	margin-top: 4%;
}
.username-navbar{
	color: #ffffff;
	margin-top: 8%;
	font-weight: bold;
	font-size: 1.1em;
}